.products {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 3rem;
}

.productsTitle {
  margin: 68px 0px 50px 0px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #30475e;
  text-transform: uppercase;
  padding: 10px 20px;
  color: brown;
}

.productWrapper {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2em;
  border: 1px solid #4444;
  list-style: none;
  height: 55vh;
  cursor: pointer;
  transition: 1s;
}

.productWrapper:hover {
  background-color: #79b4b7;
  transform: scale(1.1);
  border: 1px dotted black;
  border-radius: 10px;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 17px;
}

.detailListItem {
  color: black;
  font-weight: 800;
}

.delete-btn {
  margin-top: 20px;
  background-color: brown;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
.desc-btn {
  margin-top: 10px;
  background-color: rgb(42, 89, 165);
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.cart-btn {
  margin-top: 10px;
  background-color: green;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
