.product {
  margin-left: 38rem;
}
.productTitle {
  margin: 68px 0px 50px 0px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #30475e;
  text-transform: uppercase;
  padding: 10px 20px;
  color: brown;
}
.productDetailWrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2em;
  border: 1px solid #4444;
  list-style: none;
  height: 30vh;
  cursor: pointer;
  transition: 1s;
  margin-bottom: 100px;
  background-color: teal;
}
.productdetailListItem {
  color: white;
  font-weight: 500;
}
