.nav {
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #79b4b7;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navLeftLogo {
  margin-left: 20px;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-top: 3px solid brown;
  border-bottom: 3px solid brown;
}



.navLeft {
  display: flex;
  align-items: Right;
  justify-content: Right;
  gap: 16px;
}

.navRight {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.navRightList {
  display: flex;
  align-items: Right;
  gap: 18px;
  list-style: none;
  color: black;
}

.navRightListItem {
  letter-spacing: 3px;
  font-size: 1.2rem;
  cursor: pointer;
}

.navRightListItem:hover {
  color: yellow;
}
