.footer {
  width: 100%;
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 20px;
  height: 150px;
}

.footerDetails {
  margin:auto auto;
  color: white;
}
.footerAddress {
  margin-left: 150px;
  margin-top: 10px;
}
